 <div class="avatar">
   <img src="assets/img/avatar.png" alt="Avatar">
</div>

 <div class="user-details">
  <p>
  Hi! I'm Felipe.
  </p>
  <p>
  My job consists in helping companies and researchers to analyse, visualize, and apply domain knowledge to extract valuable insights and knowledge from their large and complex data sets.
  I am skilled for most data-science steps: data <b>pre-processing</b>, application of <b>statistical techniques</b>, <b>machine learning</b> model development and deployment,data <b>visualization</b> and results communication.
  </p>
  <p>
  In a wide range of subject areas, I have analyzed structured and unstructured data to extract actionable business insights. I like to get involved in <b>NLP</b> and <b>AI</b> projects.
  I love to craft stunning and clever visualizations that illustrate surprising results.
  </p>

  Before I went into industry, I obtained a physics engineering degree from UTP.
  I'm currently looking for the aws machine learning certification.
  I love working with great people, getting creative with data and building awesome products.
  Interested in working together or having a chat? Feel free to contact me. 
</p>
</div>