#portfolio {
  background-color: $sec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //width: 90%;
  //max-width: 960px;
  background-size: cover;
  margin: 0 auto;
  padding: 0 10%;
  @media only screen and (min-width: $cut) {
    //width: 80%;
  }
}
.user-details{
  h1{
    color: #FFF;
    opacity: 87%;
  }
}

.user-projects {
  color: #FFF;
  margin: 20px auto;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  h5 {
    margin: 0;
  }
  h3 {
    color: #FFF;
  }
  li {
    color: $sec;
    font-size: 1.1rem;
  }
  p {
    text-align: justify;
    margin-right: 5px;
  }
  a {
    color: #fff;
  }
}

.contents-right {
  h3 {
    opacity: 75%;
    margin: 0;
    padding: 0;
  }
  p {
    opacity: 70%;
  }
  @media only screen and (min-width: $cut) {
    float: right;
    width: 48%;
    margin: 0;
    top: 50%;
  }
}
.contents-left {
  h3 {
    opacity: 75%;
  }
  p {
    opacity: 70%;
  }
  @media only screen and (min-width: $cut) {
    float: left;
    margin-top: -5%;
    width: 48%;
    top: 50%;
  }
}


.images-right {
  @media only screen and (min-width: $cut) {
    float: right;
    width: 48%;
  }
  img {
    @media only screen and (min-width: $cut) {
      float: right;
    }
  }
}

.images-left {
  @media only screen and (min-width: $cut) {
    float: left;
    width: 48%;
  }
  img {
    @media only screen and (min-width: $cut) {
      float: left;
    }
  }
}

.project-link {
  display: inline-block;
  margin: 10px 0px;
  padding: 5px;
  background-color: $sec;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
  &:hover {
    background-color: #fff;
    border-color: $sec;
    color: $sec;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
  &:active {
    background-color: #fff;
    border-color: $sec;
    color: $sec;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
}
