#services {
  width: 95%;
  margin: 0 auto;
  max-width: 990px;
  @media only screen and (min-width: $cut) {
    width: 90%;
  }
}
.service_title {
  text-align: center;
  margin: 5px auto;
}

.service {
  margin: 10px;
  font-size: 16;
}

.icons {
  color: $sec;
}
